<header class="bg-navy toc-ignore">
  <h1 class="margin-left-medium">
    <a href="https://www.vhx.tv">
     <i class="icon margin-right-small icon--xlarge icon-vhx-inverse">VHX</i>
    </a>
    <a href="http://dev.vhx.tv">
      <span class="head-4 head--white border-left padding-horizontal-medium border--white ">Developers</span>
    </a>
  </h1>

  <nav>
    <ul class="menu">
      <li><a class="head-5" href="/api">API Overview</a></li>
      <li><a class="head-5" href="/player">Player</a></li>
      <li><a class="head-5" href="/integrations">Integrations</a></li>
      <li><a class="head-5 active" href="/docs/api/">API Reference</a></li>
      <li><a class="head-5" href="http://wintergarten.io" target="_blank">Demo</a></li>
      <li><a class="btn-teal btn--brandon" href="https://www.vhx.tv/signup?survey_sale_type=fulfillment&ref=dev">Sign up</a></li>
    </ul>
  </nav>
</header>
