<header class="bg-navy">
  <h1 class="margin-left-medium">
    <i class="margin-right-small icon medium icon-vhx-inverse">VHX</i>
    <span class="head-4 head--white border-left padding-horizontal-medium border--white ">Developers</span>
  </h1>
</header>